.containerGalleryTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh; /* Set the height of the containerGalleryTitles to 30% of the viewport height */
  }
  
  .containerGalleryTitles h3 {
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 5px;
    font-family: 'Enriqueta', arial, serif;
    color: #0d054d;
  }
  
  .containerGalleryTitles p {
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    margin-bottom: 5px;
    font-style: italic;
    font-family: 'Enriqueta', arial, serif;
    color: #14067d;
  }
  
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr)); /* Adjust the number of columns as per your preference */
    justify-items: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
    gap: -5px; /* Adjust the gap value to control the spacing between the images */
    height: 30vh; /* Set the height of the image-gallery to 30% of the viewport height */
  }
  
  .image-gallery a {
    text-decoration: none;
    text-align: center;
    position: relative;
  }
  
  .image-gallery img {
    width: 50%; /* Adjust the width as per your preference */
    height: auto;
    
  }
  
  .image-gallery p {
    font-weight: normal; /* Set the initial font weight of the description */
    transition: font-weight 0.3s; /* Add a smooth transition effect */
    width: 40%;
    margin-left: 30%;
  }
  
  .image-gallery p:hover {
    font-weight: bold; /* Set the font weight to bold on hover */
  }
 
  