.step-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%; /* Adjust the width as needed */
    padding: 20px; /* Adjust the padding as needed */
    background-color: #ffffff; /* Optional: Add a background color */
    height: 40vh;
    
    
  }
 
  
  .step {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 1%;
    width: 25%;
  }
  
  .step-number {
    font-size: 100px;
    font-weight: bold;
    margin-right: 5px;
    color: rgb(0, 153, 255);
    margin-right: 5%;
  }
  
  .steps .arrow {
    font-size:300%;
    color: rgb(14, 83, 129);
  }     
  
  .start-trading-btn {
    margin-top: 20px;
  }
  .steps h1 {
    margin-top: 5%;
    text-align: center;
    color: rgb(16, 57, 92);
    width: 100%;
    letter-spacing: 2px;
    font-weight: 500;
    
  }
  .step-text{
    font-weight: 500;
    font-size: larger;
    color: rgb(16, 56, 83);
  }
  .step p {
    width: 60%;
  }
  .center-container {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;

  }
  
  .start-trading-btn {
    border-radius: 15px;
    background-color: rgb(45, 121, 172);
    color: white;
    padding: 10px 35px;
    transition: background-color 0.3s ease;
    border: none;
    font-size: 150%;
    margin-top: 3%;
   
    font-weight: 300;
    
  }
  .button-text {
    transform: scaleY(0.9); /* Adjust the scale value to decrease the height of the text */
  }
  
  
  .start-trading-btn:hover {
    background-color: rgb(99, 148, 160);
  }
  .button-text-container {
    max-height: 2%; /* Adjust the height to decrease the height of the text */
    display: flex;
    align-items: center;
    
  }

  @media (max-width: 960px) {
    .step-container {
       flex-direction: column;
       align-items: start;
       margin-top: 25%;
       max-width: 150%;
       margin-left: 15%;
        
      }
      .steps h1 {
        margin-bottom:-15% ;
      }
      .step {
        margin-top:10%;
        flex-direction: row;
        line-height: 130%;
        
      }
      .step-text{
        max-width: 60%;
      }
      .step p {
        width: 200%;
      }
      .steps .arrow {
        display: none;
        
      } 
      .center-container {
        
        margin-top: 15%;

    
      }
     
      
  }