.container {
   
    display: flex;
    align-items: center;
    z-index: 1;
    margin-top: 4%;
    justify-content: space-between;
  }
  
  .item1 {
    
    flex: 1;
    padding: 20px;
    text-align: start;
    z-index: 1;
  }
  .righSide{
    margin-top: -9%;
  }
 .searchBar {
  max-width: 100%;
  margin-left :-10%; ;
  
 }
  
  .tableau {
    
    
    margin-left: -10%;
    width: 100%;
    height: auto;

  }
  .item1 p {
    margin-left: 10%;
    text-align: start;
    font-size:smaller;
    color: rgb(63, 56, 56);
    max-width: 50%;
  }
  .h3_tit {
    margin-left: 10%;
    max-width: 70%;
      font-weight: 800;
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 5px;
      font-family: 'Enriqueta', arial, serif; 
      color: #16054d
  }  
  .span{
      font-family: 'Open Sans', sans-serif; font-size: 18px;  margin: 0 0 16px;
      
    }

  
  .list {
      margin-left: 10%;
      width: 600px;
      max-width: 90%;
     
     
      
      
  }
  
  .item {
      display: block;
      clear: both;
      counter-increment: list;
      padding-bottom: 4rem;
      font-size: 1.1rem;
      line-height: 1.375;
      position: relative;
      margin-bottom: 0;
      
  }
  li.item {
    margin-bottom: 15px; /* Adjust the margin as per your preference */
    padding-bottom: 5px; /* Adjust the padding as per your preference */
    position: relative;
    padding-left: 20px; /* Adjust the padding as per your preference */
    margin-bottom: 10px; 
   
  }
  ul.list {
    list-style-type: none;
    padding-left: 0;
  }

 

  li.item:before {
    content: "➤"; /* You can change this to any arrow or symbol you prefer */
    position: absolute;
    left: 0;
    top: 0;
    color: rgb(92, 160, 224);
    font-size: 14px;
  }
  
 
  
  
  /* Demo styles */

  /*-------------------------------------------------*/
  .button-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      
    }
    
    .second-row {
      margin-top: 10px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 0%;
     
    }
    .button-container button {
      background-color:antiquewhite;
    }
    .button-container button {
      border-radius: 0;
    }
    .second-row button {
      border-radius: 0;
    }
    
    .cell-wrapper {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      grid-gap: 5px;
    }
    
    
    .cell-wrapper button {
      margin-right: 10px;
      max-width:fit-content;
      align-self: start;
    }
    @media screen and (max-width: 900px){
      .container {
        display: flex;
        flex-direction: column; /* Set flex-direction to column */
        justify-content: center;
        align-items: center;
        z-index: 1;
      }
      .h3_tit, .span {
        font-size: 14px;
      }
    
      .list .item {
        font-size: 12px;
      }
    
      p {
        font-size: 12px;
      }
      .item1{
        max-width: 100%;
      }
      .item2 {
        margin-left: 15%;
        width: 100%;
      }
      .righSide{
        margin-top: 4%;
        margin-bottom: 10%;
      }
      .item1 p {
        margin-left: 10%;
        text-align: start;
        font-size:smaller;
        color: rgb(63, 56, 56);
        max-width: 80%;
      }
    }
  
   
    